<!--@subject Event {{var event.getTitle()}} is waiting for you @-->
<!--@styles
body,p { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<h3>Event {{var event.getTitle()}} is waiting for you</h3>
<p>
    Dear {{var recipient}}, <br/><br/>
    I would like you to take part in an attractive event.
    <br/><br/>
</p>
<p>You can view this event by clicking the following link:</p>
<p><a href="{{var event.getEventUrl()}}" target="_blank">{{var event.getTitle()}}</a></p>
<p>
    {{var message}}
</p>