<?xml version="1.0"?>
 <!--@copyright Copyright (c) 2016 www.magebuzz.com-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <events>
            <general_setting>
                <view_mode>calendar-grid</view_mode>
                <show_url_in_header_link>1</show_url_in_header_link>
                <allow_filter_by_cat>1</allow_filter_by_cat>
                <show_num_participants>1</show_num_participants>
                <show_social_share>1</show_social_share>
                <show_upcoming_events>1</show_upcoming_events>
                <allow_send_invitation>1</allow_send_invitation>
                <invitation_email>events_general_setting_invitation_email</invitation_email>
            </general_setting>
            <calendar_setting>
                <page_title>Events Calendar</page_title>
                <default_view_mode>month</default_view_mode>
                <show_event_color>1</show_event_color>
                <allow_switch_mode>1</allow_switch_mode>
                <language>en</language>
            </calendar_setting>
        </events>
    </default>
</config>